@import '../../style.scss';

.mentor_img{
  @include box(rem(120), rem(120));
    object-fit: cover;
}

.fill_btn{
  background-color: var(--black) !important;
  color: var(--white);
  &:hover{
    background-color: var(--black) !important;
    color: var(--white);
  }
}

.outline_btn{
  border: rem(1) solid var(--black);
  &:hover{
    border: rem(1) solid var(--black);
  }
}




