:root {
    --white: white;
    --white-200: rgba(255, 255, 255, 0.475);
    --black: #000000;
    --black-100: #000000dc;
    --black-200: #5E5E5E;
    --black-300: #5b58588b;
    --box-bg: #f3f3f3;

    --purple: rgba(9, 81, 81, 0.873);

}